<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"-->
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
    <link th:href="@{/resources/css/style.css}" type="text/css" rel="stylesheet" />
</head>
<body>

<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="principal.username"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
<br/>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_EMPLOYEE')">
    This content is only shown to administrators.
</div>

    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>

    <div id="wrapper">
        <div id="header">
            <h2>Customer list</h2>
        </div>
    </div>

    <div id="container">
        <div id="content">

            <input type="button" value="Add customer"
                onclick="window.location.href='showFormForAdd'; return false"
                   class="add-button"
            />

            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>

                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}" />
                    <td>
                        <!--<a th:href="@{/customer/showFormForUpdate/{id}(id=${customer.id})}">Update</a>-->
                        <a th:href="@{/customer/showFormForUpdate(customerId=${customer.id})}">Update</a>
                        |
                        <a th:href="@{/customer/delete(customerId=${customer.id})}"
                        onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<br/>

<p>
    <div sec:authorize="hasRole('ROLE_MANAGER')">
        <a href="/leaders">only for Leaders</a>
    </div>
    <br/>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/systems">only for Admins</a>
    </div>
</p>

<br/>
<h3>JSON REST</h3>
<br/><br/>
<a href="/api/students">Get all students</a>
<br/><br/>
<a href="/api/customers">Get all customers</a>

</body>
</html>