<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add customer</title>
    <link th:href="@{/resources/css/style.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/resources/css/add-customer-style.css}" type="text/css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <div id="header">
            <h3>Add customer</h3>
        </div>
    </div>

    <div id="container">
        <form th:action="@{saveCustomer}" th:object="${customer}" th:method="POST">
            <input type="hidden" th:value="${customer.id}" name="id" />
            <table>
                <tbody>
                    <tr>
                        <td>First name:</td>
                        <td><input type="text" th:field="*{firstName}" id="firstName"></td>
                    </tr>
                    <tr>
                        <td>Last name:</td>
                        <td><input type="text" th:field="*{lastName}" id="lastName"></td>
                    </tr>
                    <tr>
                        <td>email:</td>
                        <td><input type="text" th:field="*{email}" id="email"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Save" id="save"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div style="clear; both;"></div>
            <p>
                <a href="/customer/list">Back to list</a>
            </p>

    </div>

</body>
</html>