<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login custom form</title>
    <style>
        .failed {
            color: red;
        }
    </style>
</head>
<body>
    <form th:action="@{/authenticateUser}" th:method="POST">
        <div class="failed" id="errors" th:if="${param.error != null}">
            not correct user/password
        </div>
        <p>
            User name: <input type="text" name="username">
        </p>
        <p>
            Password: <input type="password" name="password">
        </p>
        <input type="submit" value="Login" />
    </form>
</body>
</html>